<div class="component component-menu">
    <ul class="menu-main">
    {{#each data}}
      <li class="menu-main-item">
        <a href="{{pageUrl}}">{{title}}</a>
        {{#if children}}
          <ul class="menu-sub">
          {{#each children}}
            <li class="menu-sub-item"><a href="{{pageUrl}}">{{title}}</a></li>
          {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}} 
    </ul>
</div>

