<div class="component component-tabs" data-widget="switchable" data-widget-autoplay="false" data-widget-trigger-type="click" data-widget-class-prefix="ue-tabs">
    <div class="hd">
        <ul class="tab-holders" data-role="tabs">
            {{#each data}}
                <li class="tab-item"><a class="tab-item-link" data-role="tab" href="{{url}}" data-index={{@index}}>{{title}}</a></li>
            {{/each}}
        </ul>
        {{#if config.showMore}} 
            <div class="showmore"><a href="{{config.link}}">More</a></div>
        {{/if}}
    </div>
</div>