.component-image{ border:1px solid #ccc;}
.component-image .nav-tabs{list-style: none; position: absolute;margin-left: -25px;}
.component-image .nav-tabs li{float: left; margin-left: 3px;background-color: #fff;}
.component-image .nav-tabs li.active{color: #000;background-color: #aaa;}
.component-image .nav-tabs li a{text-decoration:none;padding: 0 3px;}
.component-image .nav-tabs li a:hover{color: #000;background-color: #aaa;}
.component-image .tab-content {float: left;}
.component-image .tab-content .fade{display: none;}
.component-image .tab-content .active{display: block;}
.component-image-list:after{
    list-style: decimal;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.component-image-item{
  float: left;
  width: 160px;
  margin-right: 30px;
}
.component-image-title{
    line-height: 30px;
}